[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
dfainductor = {editable = true, extras = ["dev"], path = "."}

[packages]
dfainductor = {path = "."}

[pipenv]
allow_prereleases = true
